:root   {
    --primary-clr: #000000;
    --secondary-clr: #f7f7f7;
    --tertiary-clr: #bd0000;
}

.view-terms {
    display: none;
}

.click  {
    font-style: italic;
}

form   {
    padding: 1rem;
    color: var(--secondary-clr);  
    font-weight: 200;
    max-width: 360px;  
    margin: 0 auto; 
}

fieldset {
    padding: 1rem;
    margin-bottom: 1rem;
}

legend  {
    padding: .3rem;
    font-size: 1rem;
}

form .submitBtn {
    width: 280px;
    margin: 0 auto;
    padding-top: .5rem;
    border: 1px solid var(--secondary-clr);
    outline: none;
    background-color: var(--tertiary-clr);
    color: var(--secondary-clr);
    cursor: pointer;
}

.submitBtn:hover    {
    background-color: var(--secondary-clr);
    color: var(--tertiary-clr);
}

input, textarea, select, button  {
    display: block;
    margin-bottom: 1rem;
    padding: .4rem .5rem;
    background-color: var(--secondary-clr);
    outline: none;
    width: 260px;
    box-sizing: border-box;
}

label   {
    font-size: .9rem;
}

textarea    {
    resize: none;
    max-height: 200px;

}

input[type="radio"] {
    display: inline;
    min-width: 16px;
    width: 16px;
    height: 16px;
    margin: 0;
}

.sbs    {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100px;
    margin-top: .5rem;
}

.sbs label  {
    margin-left: .2rem;
}

.terms-cond {
    background-color: var(--secondary-clr);
    margin: 3rem auto 1rem;
    width: 360px;

}

.accordion  {
    width: 100%;
    padding: .4rem .6rem .4rem .6rem;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    margin-bottom: 0;
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
}

.accordion::after   {
    content: "+";
    float: right;
    font-weight: 900;
}

.panel  {
    display: none;
    overflow: hidden;
    margin: 0;
}

.active-panel  {
    padding:  0 1rem 1rem 2rem;
    display: block;
    border: 1px dotted var(--tertiary-clr);
    overflow: hidden;
    margin: 0;
    
}

.active-accordion   {
    background-color: var(--tertiary-clr);
    color: var(--secondary-clr);
}

.active-accordion::after    {
    content: "-";
    color: var(--secondary-clr);
}

.panel li   {
    list-style: square;
}

h2.confirmation-h2    {
    color: var(--tertiary-clr);
    margin: 2rem 0;
    text-align: center;
    width: 100%;
}



@media (min-width:32.5em)   {
   div#hero img {
    width: 100vw;
   }

   h2   {
    margin-top: -2rem;
   }

   .all-rentals {
        max-width: 800px;
        margin: 0 auto 4rem;
   }

   .terms-cond  {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 95%;
   }

   .terms-cond p    {
        font-size: .8rem;
        padding-top: 1rem;
        font-style: italic;
        font-weight: 600;
   }

   .accordion   {
    box-shadow: 0 0 3px 1px var(--secondary-clr);
   }

   .panel   {
    font-size: .8rem;
    line-height: 1.8;
    z-index: 9;
    background-color: var(--secondary-clr);
   }

   form {
    max-width: 800px;
    margin: auto;
   }

   input, textarea, select, button  {
        width: 400px;
   }
}

@media (min-width:64em) {
    .sbs label {
        margin-top: .2rem;
        margin-left: .4rem;
    }
}   

